* {
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: #191826;
}

.banner {
    padding: 40px 24px;
    background: url("assets/bg-main-mobile.png");
    background-position: bottom left;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.45px;
    margin-top: 66px;
}

.banner p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 23px;
}

.main-content {
    width: 100%;
    height: 600px;
    margin-top: 160px;
    margin-bottom: 390px;
    position: relative;
    background-color: #191826;
    border-radius: 12px;
    background-image: url(assets/bg-pattern-2.svg);
    background-position: 50% 0;
    background-size: 280px;
    background-repeat: no-repeat;
}

.illustration-app {
    width: 209px;
    position: absolute;
    top: -98px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.description-container {
    position: absolute;
    top: 380px;
    background-color: #FA7453;
    border-radius: 12px;
    padding: 48px 36px;
}

h2,
.description,
.price-text,
.price {
    color: #FCFAF9;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 12px;
}

.description {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 36px;
}

.price-container {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.price-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.2px;
}

.price {
    font-size: 65px;
    font-weight: 700;
    line-height: 52px;
    margin-right: 16px;
}

.ios-download,
.android-download {
    width: 100%;
    height: 61px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.18px;
    border: none;
}

.ios-download {
    margin: 0 auto 16px;
    background-color: #191826;
    color: #FCFAF9;
}

.android-download {
    margin: 0 auto;
    background-color: #FCFAF9;
    color: #191826;
}

.ios-download img,
.android-download img {
    margin-right: 8px;
}

footer {
    margin: 0 24px 80px;
}

.footer-logo {
    margin-bottom: 32px;
}

.contact p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.contact a {
    font-weight: 700;
    text-decoration: none;
}

.social-links {
    display: flex;
    margin-top: 64px;
}

.social-links li {
    list-style: none;
    margin-right: 20px;
}

/* Media Queries */

@media only screen and (min-width: 768px) {
    body {
        padding: 64px 39px 85px;
        background: url("assets/bg-pattern-1.svg"), url("assets/bg-main-tablet.png");
        background-position: right -35px top -32px, -254px -200px;
        background-repeat: no-repeat;
        background-size: 266px, 1100px;
    }
    .banner {
        width: 75%;
        padding: 0;
        background: none;
    }
    h1 {
        font-size: 64px;
        line-height: 64px;
        letter-spacing: -0.73px;
        margin-top: 95px;
    }
    .banner p {
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        margin-top: 28px;
    }
    .main-content {
        margin-top: 249px;
        margin-bottom: 183px;
        background-position: 50% -31px;
    }
    .illustration-app {
        width: 270px;
        top: -138px;
        left: 9.3%;
        margin: 0;
    }
    .description-container {
        width: 399px;
        top: 150px;
        right: 8.4%;
        padding: 48px;
    }
    footer {
        margin: 0;
    }
    .footer-logo {
        margin-bottom: 32px;
    }
    .social-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .contact {
        width: 53%;
    }
    .social-links {
        margin: 0;
    }
    .social-links li {
        margin-right: 0;
        margin-left: 20px;
    }
}

@media only screen and (min-width: 1440px) {
    body {
        padding: 62px 11.5% 91px; 
        background: url("assets/bg-pattern-1.svg"), url("assets/bg-main-desktop.png");
        background-position: right 0 top -40px, -254px -200px;
        background-repeat: no-repeat;
        background-size: 266px, 130%;
    }
    .banner {
        width: 91%;
    }
    h1 {
        font-size: 88px;
        line-height: 88px;
        letter-spacing: -1px;
        margin-top: 127px;
    }
    .banner p {
        width: 74%;
        font-size: 20px;
        font-weight: 400;
        line-height: 34px;
        margin-top: 40px;
    }
    .main-content {
        margin-top: 321px;
        margin-bottom: 202px;
        background-position: 42.3% -40px;
        background-size: 312px;
    }
    .illustration-app {
        width: 312px;
        top: -213px;
        left: 9.2%;
    }
    .description-container {
        width: 40.2%;
        top: 90px;
        left: 51.2%;
        padding: 58px 59px 48px 54px;
    }
    h2 {
        font-size: 40px;
        line-height: 52px;
        margin-bottom: 22px;
    }
    .description {
        font-size: 20px;
        line-height: 34px;
        margin-bottom: 39px;
    }
    .price-container {
        margin-bottom: 46px;
    }
    .ios-download,
    .android-download {
        width: 100%;
    }
    .ios-download:hover {
        background-color: #66E2DC;
    }
    .android-download:hover {
        background-color: #FFB964;
    }
    footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .footer-logo {
        margin: 0;
    }
    .social-container {
        width: 74.3%;
    }
    .icon:hover path {
        fill: #FFB964;
    }
}



